BasedOnStyle: LLVM
# BasedOnStyle: Google
Language: Cpp
Standard: c++20 # c++23
ColumnLimit: 100 # 120

# PointerAlignment: Left
# ReferenceAlignment: Left

ContinuationIndentWidth: 2
SpacesBeforeTrailingComments: 1
IndentCaseLabels: true
BinPackArguments: false
# AlignAfterOpenBracket: BlockIndent

SpaceBeforeCpp11BracedList: true
# Cpp11BracedListStyle

# AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
